# Игнорировать файлы операционной системы
Thumbs.db
Desktop.ini

# Игнорировать файлы IDE PyCharm
.idea/
*.iml

# Игнорировать виртуальное окружение
.venv/

# Игнорировать сгенерированные файлы
*.pyc
__pycache__/